body {
	background-color: #5676df;
	width: 100%;
	height: 100%;
}

.headerr {
	background: #5676df url(../img/this-bg.jpg) center no-repeat;
	height: 700px;
	text-align: center;
	width: 100%;
}
.headerr-title{
	margin-top: 50px;
	color: #fff;
	font-size: 30px;
	margin-bottom: 30px;
	text-transform: uppercase;
	
}
.headerr-subtitle{
	color: #fff;
	margin-bottom: 30px;
	font-size: 25px;
}
.headerr-text{
	color: #fff;
	font-size: 23px;
	margin-bottom: 30px;
}
.headerr a:hover{
	text-decoration: none;
	color: #000;
	
}
.headerr a {
	color: #fff;
}

.button-uo {
	font-family: Roboto
}